@media screen and (min-width: 700px) {

body {
    background-image: url('https://i.ibb.co/41xkqjR/desktopmusicwallpaper.jpg');
}

.my-match-words {
    display: none;
}

.puzzle-piece {
    width: 6vw;
    height: 6vw;
}

.home-icon {
    width: 6vw;
    height: 6vw;
}

.art-container {
    width: 10vw;
    height: 10vw;
}

#results-container {
    width: 80%;
    margin-top: 5vw;
}

#match-page {
    width: 40%;
    height: 40vw;
}

.add-to-matches {
    width: 3vw;
    height: 3vw;
}


.delete-from-matches {
    width: 3vw;
    height: 3vw;
}

h1 {
    font-size: 12vw;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.6vw;
}

.match-name-artist {
    font-size: 1.5vw;
}

.search-text {
    width: 55vw;
    font-size: 1.5vw;
}

.lyrics {
    font-size: 1.5vw;
}

.lyric-box {
    margin-left: 6vw;
}

.lyric-link {
    font-size: 1.5vw;
    width: 15vw;
}

.my-matches-words {
    font-size: 1.3vw;
}

#hero {
    margin-top: 8vw;
}

#tomt-search {
    display: flex;
    justify-content: center;
}

#tomt-search>div {
    margin-left: 1vw;
    margin-right: 1vw;
}